/* appforsale:profile.user */
.raiting {

}

.raiting > img {
		width: 12px; 
	height: 12px; 
}


ul.bx_fieds {
	padding: 0px 0px 8px 0px			
}

ul.bx_fieds > li {
		display: block;	
	box-sizing: border-box;
	padding: 0px 16px 8px 16px;
}

.bx_name {
			font-size: 12px;
	line-height: 18px;
		color: rgba(0, 0, 0, .54)

}

.bx_value {
		font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
	}


a.disabled {
		opacity: .3
}

a.call {
	box-sizing: border-box;
	min-width: 44px; 
	min-height: 28px;
	padding: 4px 16px 4px 16px;
	margin: 8px 0px 0px 0px;
	font-size: 13px;
	border-radius: 3px;
	color: #ffffff;
	border: 0;
}

.bx_user {
	position: relative;
	margin: 16px;
	padding-bottom: 16px;
	min-height: 64px;
	border-bottom: 1px solid #f3f3f3
}

.bx_user_personal_photo {
	float: left;
	width: 64px; 
	height: 64px;
	border-radius: 32px
}

.bx_user_info {
	margin-left: 80px
}

.bx_user_name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_user_personal_notes {
	font-size: 12px;
	line-height: 14px;
	color: rgba(0, 0, 0, .54)
}

.bx_comments {
	clear: both
}

.bx_comment_header {
	color: #3F51B5;
	padding: 16px 16px 8px 16px;
	background: #f1f1f1;
	font-size: 14px;
	line-height: 20px;
}

.bx_comment {
	position: relative;
	padding: 8px 16px 16px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px;
	box-sizing: content-box 
}

.bx_comment_photo {
	float: left;
	width: 40px; 
	height: 40px;
	border-radius: 20px
}

.bx_comment_info {
	margin-left: 56px
}

.bx_comment_name {
	margin-top: 2px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.bx_comment_date {
	font-size: 12px;
	line-height: 14px;
	color: rgba(0, 0, 0, .54)
}

.bx_comment_detail_text {
	padding-top: 16px;
	clear: both;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, .87);
	text-align: justify
}

.raiting2 {
	margin-top: 8px;
text-align: right;
}

.raiting2 > img {
		width: 12px; 
	height: 12px; 
}


.bx_profile {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px;
	box-sizing: content-box 
}


.bx_profile_name {
	margin-top: 8px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}