/* appforsale:setting.notify */
.bx_setting_notify {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	height: 40px;
	box-sizing: content-box;
}

.bx_setting_notify_name {
	margin-top: 8px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_setting_notify_switch {
	position: absolute;
	top: 17px;
	right: 16px;
	width: 38px;
	height: 23px;
}

.bx_setting_notify_progress {
	display: none;
	position: absolute;
	top: 12px;
	right: 19px;
	width: 32px;
	height: 32px;
}
