/* appforsale:login */
.bx_login_parent {
	width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0
}

.bx_login_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

.bx_login_block {
	text-align: left;
	display: inline-block;
	width: 240px
}

.bx_login_confirm {
	width: 70px
}

.bx_login_confirm_div {
	display: none;
	overflow: hidden
}

.bx_login_disc {
	text-align: justify;
	color: rgba(0, 0, 0, .38);
	font-size: 12px;
	line-height: 16px
}

.bx_login_button_confirm {
	box-sizing: border-box;
	min-width: 88px; 
	min-height: 40px;
	width: 100%;
	padding: 12px;
	font-size: 14px;
	background: #ff004a;
	color: #ffffff;
	text-align: center;
	margin: 16px 0px 0px 0px
}

.afs-came {
	padding-left: 16px;
	padding-right: 16px;
	font-size: 12px;
	line-height: 16px
}