.im-chat-wrap {
	display: table;
	width: 100%
}

.im-chat {
   	display: table-cell;
	vertical-align: bottom; 
	padding-bottom: 66px;
}

.im-history {
	
}

.im-typer {
	min-height: 40px;
	padding: 10px 16px 16px 56px;
	visibility: hidden;
	font-size: 10px;
	line-height: 14px;
	color: rgba(0, 0, 0, .18)
}

.im-message {
	min-height: 40px;
	padding: 5px 16px;
}

.im-message-image {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%
}

.im-message-img {
	width: 30px;
	height: 30px;
	border-radius: 50%
}

.im-message-info {
 	margin-left: 40px;
/* 	margin-top: 4px	  */
}

.im-message-title {

	font-size: 12px;
	line-height: 14px;
	color: rgba(0, 0, 0, .38)
}


.im-message-date {
	margin-left: 10px;
	font-size: 10px;
	line-height: 14px;
	color: rgba(0, 0, 0, .18)
}

.im-message-body {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, .87)
}
/* 
@viewport {
   user-zoom: fixed;
} */

.im-input {
	position: fixed;
	padding: 10px 16px;
	background: #fff;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0px 10px 19px 0px #000000;
}

.im-input > .input-group {
	visibility: hidden;
}

.read_state {
	background: #f3f3f3
}

/* .fixfixed .im-input {
  position: absolute;
} */