.bx_field {
	padding-top: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

label {
	font-weight: normal !important
}

.bx_form {
	padding: 16px
}


.bx_form_control {
	padding-top: 8px
}

input[type=number], input[type=text], input[type=date] {
	box-sizing: border-box;
		width: 100%; 
}

.required {
	color: #ff0000
}

select {
	box-sizing: border-box;
	padding: 8px;
	
	border: 1px solid #dedede;
	border-radius: 5px;
	background: #ffffff;
	width: 100%; 
	font-size: 16px;
	
	-webkit-appearance: none;
}

input[type=datetime-local] {
		width: 100%; 
	box-sizing: border-box;
	padding: 8px;
	
	border: 1px solid #dedede;
	border-radius: 5px;
	background: #ffffff;
	
	font-size: 16px;
	
	-webkit-appearance: none;
}

input[type=datetime-local]:focus {
	outline: none;
	border: 1px solid #FF4081	
}

input[type=date], input[type=datetime-local] {
	height: 38px;
}
