.afs-section-1 {
	padding-top: 8px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-section-2 {
		padding-top: 4px;
	font-size: 14px;
	line-height: 20px;
color: rgba(0, 0, 0, .87)
}

.afs-element {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-element > a {
	display: block;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3
}