/* appforsale:profile.section */
.filter_wrap {
	 background-color: rgba(0, 0, 0, 0.7);
		z-index: 2000;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	padding: 16px;
}

.filter {
	background: #fcf0f0;
	z-index: 3;
	box-sizing: border-box;
		width: 100%; 
	height: 100%
}

.bx_filter_button {
	z-index: 1;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 16px !important;
	font-size: 16px;
	background: #ff004a;
	color: #ffffff;
}

.bx_profile {
	
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 56px
}

.bx_profile_personal_photo {
	float: left;
	width: 40px; 
	height: 40px;
	border-radius: 20px
}

.bx_profile_name {
	margin-top: 8px;
		margin-right: 20px;
	margin-left: 56px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_profile_section_indicator {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -7px;
	width: 8px; 
	height: 13px
}

.bx_profile_empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.bx_profile_add {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	background: #ff004a;
	color: #ffffff;
}

.bx_left_button, .bx_right_button {
	box-sizing: border-box;
	padding: 8px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 40%
}

.bx_left_button {
		border-radius: 10px 0px 0px 10px;
		background: #ff004a;
		color: #ffffff;
}

.bx_right_button {
		border-radius: 0px 10px 10px 0px;
		background: #f3f3f3;
		color: rgba(0, 0, 0, .54);
}

.bx_toggle {
	box-sizing: border-box;
	padding: 16px;
	text-align: center;
	background: #ffffff;
/* 	position: fixed;
	top: 56px; 
	left: 0; 
	z-index: 1; */
	
	width: 100%; 
}

div.bx-filter-popup-result {
	display: none !important
}