#afs-register input.vue-treeselect__input {
    border: none;
    width: 100% !important;
}

#afs-register .vue-treeselect__control {
    height: 48px;
}

#afs-register .vue-treeselect__placeholder, #afs-register .vue-treeselect__single-value {
    line-height: 48px;
}

#afs-register .vue-treeselect__multi-value-item {
    font-size: 14px;
}

#afs-register .custom-file-input, #afs-register .custom-file-label::after {
    content: 'Открыть';
}


style-chooser .vs__search::placeholder,
#afs-register .style-chooser .vs__dropdown-toggle,
#afs-register .style-chooser .vs__dropdown-menu {
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 0;
    background: #ffffff;
    font-size: 16px;
    -webkit-appearance: none;
    /*height: 46px;*/
}
#afs-register .style-chooser .vs__clear svg {
    margin-bottom: 5px;
}

#afs-register .rounded-btn {
    padding: .15rem .5rem;
}
