.afs-fixed-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
}

.afs-buttons-group {
    padding: 15px 15px 27px 15px;
}

.afs-tariff-cards {
    padding: 0 15px 15px 15px;
    overflow-y: auto;
}

.afs-tariff-card {
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    margin: 0 -15px;
}

.afs-tariff-card:nth-child(2n) {
    background: #deffeb;
}

.afs-tariff-card__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.afs-tariff-card__header_title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
}

.afs-tariff-card__header_title > span {
    font-size: 12px;
    line-height: 14px;
    color: #797979;
}

.afs-tariff-card__header_price_wrap {
    align-items: center;
    display: flex;
    font-size: 13px;
}

.afs-tariff-card__header_price {
    align-self: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: #00B94A;
    margin-left: 5px;
}

.afs-tariff-card__text {
    font-size: 12px;
    line-height: 14px;
    color: #797979;
    margin-bottom: 15px;
}

.afs-tariff-cards::-webkit-scrollbar {
    width: 5px;
    background: #E9E9E9;
    border-radius: 10px;
}

.afs-tariff-cards::-webkit-scrollbar-thumb {
    background: #00B94A;
    border-radius: 10px;
}

.afs-tariff-cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #E9E9E9;
}