.custom-file-input:lang(ru) ~ .custom-file-label::after {
	content: 'Выбрать';
}

.overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.overlay.loading {
	z-index: 99999;
}

.overlay .loader-spinner {
	margin: auto 0;
}