/* mlab:appforsale.executor.list */
.afs-executor-item {
	display: block;
	padding: 8px 15px 0px 15px;
	border-bottom: 1px solid #f3f3f3;
	background-color: #ffffff
}

.afs-executor-item:hover, .afs-executor-item:focus {
	text-decoration: none
}

.afs-empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}