.afs-color {
	background-color: #e91e63
}

.afs-color-light {
	background-color: #ff79a6
}

.afs-color-dark {
	background-color: #b22c5a
}

.afs-font-color {
	color: #e91e63
}

.afs-font-color-light {
	color: #ff79a6
}

.afs-font-color-dark {
	color: #b22c5a
}

.afs-border-color {
	border-color: #e91e63
}

.afs-border-color-light {
	border-color: #ff79a6
}

.afs-border-color-dark {
	border-color: #b22c5a
}

.btn-primary {
    color: #fff;
    background-color: #e91e63;
    border-color: #d50a4f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d50a4f;
    border-color: #d50a4f;
}

.btn-primary:active {
    color: #fff;
    background-color: #d50a4f;
    border-color: #d50a4f;
}