/* appforsale:main.personal */
html {
	background: #fafafa
}

.header2 {
	padding: 16px	
}

.control {
	
	padding-top: 8px
}

canvas {
	display: none !important;
}

.personal_photo {
	position: relative;
	margin: 16px auto;
	width: 96px;
	height: 96px;
}

.personal_photo_file {
	visibility: hidden;
	position: absolute;
}

.load {
	display: none;
	line-height: 96px;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	width: 96px;
	height: 96px;  
	position: absolute;
	z-index: 200;
}



.personal_photo > img {
	position: relative;
	border-radius: 50%
}

.name {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.profile {
	color: #3F51B5;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.bx_setting_item {
	position: relative;
	padding: 0px 16px 0px 16px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;	
	box-sizing: border-box;
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;
	background: #ffffff;
	height: 48px;
	font-size: 16px;
	line-height: 46px;
	color: rgba(0, 0, 0, .87)
}

.exit {
	margin-top: 16px;
	color: #ff0000;
	text-align: center;
	line-height: 46px;
}

.bx_setting_section_indicator {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -6px;
	width: 8px; 
	height: 13px
}

.bx_setting_picture {
	margin-top: 8px;
	float: left;
	width: 24px; 
	height: 24px;
}

.bx_setting_name {
	margin-top: 9px;
	margin-left: 40px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_profile_section {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px;
	box-sizing: content-box;
}

.bx_profile_section_name {
	margin-top: 8px;
	margin-left: 0px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_profile_section_switch {
	position: absolute;
	top: 17px;
	right: 16px;
	width: 38px;
	height: 23px;
}

.bx_profile_section_progress {
	display: none;
	position: absolute;
	top: 12px;
	right: 19px;
	width: 32px;
	height: 32px;
}