/* mlab:appforsale.im */
.im-chat {
	display: table;
	min-height: 100%;
	height: 100%;
	width: 100%
}

.im-body {
	display: table-cell;
	vertical-align: bottom; 
	padding-bottom: 50px;
}

.im-history {
	
}

.im-typer {
	min-height: 34px;
	width: 100%;
	color: #f3f3f3
}

.im-input {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 16px
}

.afs-im-message {

	min-height: 56px;
	padding: 10px;
}

.afs-im-message-image {
	float: left;
	width: 40px;
	height: 40px
}

.afs-im-message-img {
	width: 40px;
	height: 40px;
	border-radius: 50%
}

.afs-im-message-body {
	margin-left: 56px;
	margin-top: 8px;
		font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-form-control {
	padding: 8px;
		width: 300px;
	height: 40px;
	border: 1px solid #ccc
}