/* appforsale:profile.section */
.bx_profile {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px;
	box-sizing: content-box
}

.bx_profile_personal_photo {
	float: left;
	width: 40px; 
	height: 40px;
	border-radius: 20px
}

.bx_profile_name {
	margin-top: 8px;
	margin-left: 56px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_profile_section_indicator {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -7px;
	margin-right: 20px;
	width: 8px; 
	height: 13px
}

.bx_profile_pay {
	position: absolute;
	right: 50px;
	top: 16px;
}

.bx_profile_empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.bx_profile_add {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 16px !important;
	font-size: 16px;
	background: #ff004a;
	color: #ffffff;
}

.popup_wrap {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
}

.popup_wrap2 {
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 16px;
		width: 100%; 
}

.popup {

	background: #ffffff;
	z-index: 3;
	box-sizing: border-box;
	width: 100%; 
}

.bx_popup_item {
	text-align: center;
	padding: 16px;
	font-size: 16px;
	border-bottom: 1px solid #f3f3f3;
}

.red {
	color: #ff0000
}

.bx_profile_more {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 16px;
	width: 56px; 
	height: 56px
}
