button.mini:disabled {
		opacity: .3
}



button.mini {
	box-sizing: border-box;
	min-width: 44px; 
	min-height: 28px;
	padding: 4px 16px 4px 16px;
	margin: 8px 0px 0px 0px;
	font-size: 13px;
	border-radius: 3px;
	background: #ff004a;
	color: #ffffff;
	border: 0;
}


button.neutral {
	background: #dedede;
	color: rgba(0, 0, 0, .54)
}

ul.bx_field_list {
		padding: 8px 0px 24px 0px;
}

li.bx_field_list {
	display: block;	
	box-sizing: border-box;
	padding: 0px 16px 0px 16px;

}

.bx_order_offers {
	clear: both
}

.bx_order_offer_header {
	color: #3F51B5;
	padding: 16px 16px 8px 16px;
	background: #f3f3f3;
	font-size: 14px;
	line-height: 20px;
}

.bx_order {
		padding: 16px;
		font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}
.bx_order_offer2 {
		overflow: hidden;
				position: relative;
					border-bottom: 1px solid #f3f3f3;
}


.bx_order_offer {
	padding: 8px 16px 16px 16px;
}


.bx_order_offer_photo {
		float: left;
	width: 40px; 
	height: 40px;
	border-radius: 20px
}

.bx_order_offer_info {
		margin-left: 56px
}

.bx_order_offer_name {
	margin-top: 2px;
		font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)

}

.bx_order_offer_date {
		font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)
}

.bx_order_offer_detail_text {
		padding-top: 16px;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.bx_page {
	padding: 16px
}

.bx_name {
	margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)

}

.bx_value {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)

}