/* mlab:appforsale.task.filter */
.afs-task-filter {
	padding: 16px;
	background: #f3f3f3;
}
.form-control {
    margin: 5px 0;
	/*border: 1px solid #dedede !important;*/
}


#date {
	padding-top: 0;

}

.date-text {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .4);	
}

.selectize-input {
	border: 1px solid #dedede !important;
}

#status-selectized {
    font-size: 16px;
    width: 100%;
	color: #f3f3f3;
    margin-left: -5px !important;	
}

#status-selectized::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, .4); 
  opacity: 1; /* Firefox */
  font-family: inherit;
}