/* mlab:appforsale.task.item */
.afs-task-item-wrap:hover, .afs-task-item-wrap:focus {
	text-decoration: none
}

.afs-task-item-row {
	padding: 8px 15px 8px 15px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 56px;
	background-color: #ffffff
}

.afs-task-item-price {
	margin-left: 8px;
	padding: 8px;
		float: right;
			font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.afs-task-item-info {
	margin-top: 8px;
}

.afs-task-item-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-task-item-section, .afs-task-item-prop  {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

/* mlab:appforsale.notification.list */
.afs-notification-item {
	display: block;
	padding: 17px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-notification-item:hover, .afs-notification-item:focus {
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-notification-date {
	font-size: 13px;
	line-height: 15px;
	color: #797979
}

.afs-notification-name {
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
	color: rgba(0, 0, 0, .87)
}

.afs-empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.afs-disabled .afs-notification-name{
	color: #AFAFAF;
}
.afs-disabled .afs-notification-date{
	color: #E8E8E8;
}