/* appforsale:menu */
html {
	background: #fafafa
}

.bx_menu_header {
	background: #3F51B5;
	height: 160px;
	position: relative
}

.bx_menu_login {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	bottom: 0;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	line-height: 20px;
	padding: 16px
}

.bx_menu_user {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 16px
}

.bx_menu_user_personal_photo {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin-bottom: 16px
}

.bx_menu_user_name {
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	line-height: 20px
}

.bx_menu_items {
	
}

.bx_menu_separator {
	border-top: #DCDCDC solid 1px;
	padding: 16px;
	color: rgba(0, 0, 0, .54);
	font-weight: bold;
	font-size: 14px
}

.bx_menu_section {
	margin-top: 8px;
}

.bx_menu_item {
	position: relative;
	padding: 8px 16px 8px 16px;
	min-height: 32px
}

.bx_menu_item_selected {
	background: #f3f3f3
}

.bx_menu_item_image {
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 4px
}

.bx_menu_item_img {
	width: 24px;
	height: 24px
}

.bx_menu_item_name {
	color: rgba(0, 0, 0, .87);
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	margin-left: 56px;
	margin-top: 2px
}