/* mlab:appforsale.offer */
.afs-offer-rows {

}

.afs-offer-wrap {
	overflow: hidden;
}

.afs-offer-row {
	paddint-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 56px;
}

.afs-offer-name {
	padding-top: 4px;
	padding-bottom: 4px
}