.im-dialog-wrap:hover, .im-dialog-wrap:focus {
	text-decoration: none;
}

.im-dialog {
	position: relative;
	height: 66px;
	border-bottom: 1px solid #f3f3f3;
	padding: 8px 16px;
}

/* .im-dialog:hover {
	background-color: #f3f3f3
} */

.im-dialog-image {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.im-dialog-img {
	width: 50px;
	height: 50px;
	border-radius: 50%
}

.im-dialog-info {
	margin-left: 66px;
	margin-top: 6px
}

.im-dialog-title {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.im-dialog-body {
	font-size: 14px;
	line-height: 20px;
	padding-right: 15px;
	height: 20px;
	color: rgba(0, 0, 0, .54);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.im-dialog-unread {
	float: right;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	padding: 0;
	width: 8px;
	height: 8px;
	margin-top: -12px;
	color: #fff;
	background: #673ab7
}

.im-dialog-unread-big {
	padding: 5px 10px;
	border-radius: 11px;
	font-size: 12px;
	line-height: 12px;
	margin-top: -26px;
	width: auto;
	height: auto;
}

/* <div class="nim-dialog--unread _im_dialog_unread_ct" aria-hidden="true">1</div> */

/* .im-dialog-badge {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -9px;
} */