/*
	Light theme default type color
	
	Primary		rgba(0, 0, 0, .87)
	Secondary	rgba(0, 0, 0, .54)
	Disabled	rgba(0, 0, 0, .38)
	
	
	Dark theme default type color
	
	Primary		rgba(255, 255, 255, 1)
	Secondary	rgba(255, 255, 255, .7)
	Disabled	rgba(255, 255, 255, .5)	
	
	
	colorPrimary		#3F51B5
	colorPrimaryDark	#303F9F
	colorAccent			#FF4081
*/

@media (max-width:991px) {
	#panel {
		display:none !important
	}
	
	#bx-panel {
		display:none !important
	}
	
 	#menu2 {
		position: fixed !important;
		top: 0 !important;
	} 
}

#menu2 {
	display: none; 
	position: fixed;
	min-height: 56px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}


.afs-logo img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%
}

.afs-logo > a {
    display: block;
    height: 56px;
    padding: 10px;
    border-bottom: 0
}


@media(max-width:991px) {
	.afs-logo > a {
		text-align: center
	}
}


.wrap {
	padding-top: 80px;
	padding-bottom: 80px;
}

.header {
	height: 400px;
	background-image: url(/bitrix/templates/youdo_appforsale/images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.afs-video-title {
	font-size: 23px;
	padding-bottom: 8px;
}

.afs-video-text {
	padding-bottom: 16px;
}

.card {
	margin: 60px;
	background: #fff;
	padding: 60px;
}

@media(max-width:767px) {
	
	.card {
	margin: 30px;
	padding: 30px;
}

}

.copyright {
	background-color: #333;
	color: #999;
	font-size: 14px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.required {
	color: #ff0000
}

.afs-input {
		box-sizing: border-box;
	padding: 8px;
	
	border: 1px solid #dedede;
	border-radius: 5px;
	background: #ffffff;
	
	font-size: 16px;
}


.afs-input:focus {
	outline: none;
	border: 1px solid #0277bd	
}

.afs-label {
		padding-top: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}



input[type=number], input[type=tel], input[type=text], input[type=date], textarea {
	box-sizing: border-box;
	padding: 8px;
	
	border: 1px solid #dedede;
	border-radius: 5px;
	background: #ffffff;
	
	font-size: 16px;
	
	-webkit-appearance: none;
}

input[type=number]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=date]:focus, textarea:focus {
	outline: none;
	border: 1px solid #FF4081	
}

.label {
	padding-top: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}




.section_rows {
	
}

.section_row {
	box-sizing: border-box;
	position: relative;
	padding: 8px 16px 8px 16px;
	height: 56px;
	border-bottom: 1px solid #f3f3f3;
}

.section_image {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
}

.section_name {
	margin-top: 8px;
	margin-left: 56px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.section_indicator {
	position: absolute;
	top: 50%;
	right: 16px;
	width: 8px;
	height: 13px;
	margin-top: -7px;
}



.element_image {
	height: 200px;
	background-position: center center;
    background-repeat: no-repeat;
}

.element_name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}




.prop_name {
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)
}













a {
	text-decoration: none;
}








.single,
.two,
.three {
	display: block;	
	box-sizing: border-box;
	padding: 8px 16px 8px 16px;
}

.single {
	height: 56px;
}

.two {
	height: 72px;
}

.three {
	height: 88px;
}

.primary,
.secondary {
 	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

.primary {

	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.secondary {
		margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

/* .label {
	 	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)
} */

/* button {
	box-sizing: border-box;
	min-width: 88px; 
	min-height: 48px;
	padding: 4px 8px 4px 8px;
	margin: 6px 4px 6px 4px;
	font-size: 16px;
	border-radius: 5px;
	background: #ff004a;
	color: #ffffff;
	border: 0;
} */

input:disabled, button:disabled {
		opacity: .5
}


.cart {
	position: relative;
	box-sizing: border-box;
	padding: 8px 16px 8px 16px;
	height: 72px;
			border-bottom: 1px solid #f3f3f3;
}

.cart_info {

	padding-right: 50px;
}

.cart_name {
	margin-top: 8px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.cart_props {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}



.cart_image {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
}

.cart_img {

}

.cart_right {

}

.cart_price {
	text-align: right;
	position: absolute;
	top: 8px;
	right:16px;
		font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)

}

.itog {
	font-size: 16px;
	line-height: 24px;
	color: #3F51B5;
	text-align: right;

	font-weight: bold;
	
}

.old_price {
	text-decoration: line-through;
		font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .38);
		text-align: right;

}











html, body {
	width: 100%;
	height: 100%;
	font-size: 100%
}
    	
body {
 /*    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);  */

	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.3;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	color: rgba(0, 0, 0, .87);
}
	
ul,
ul > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
			
ul.listview {
	width: 100%;
}
			
ul.listview > li {
	border-bottom: 1px solid #f3f3f3;
}


/* catalog.section.list */
ul.section {
	width: 100%;
		display: table;
}

ul.section > li {
	display: table-row;
	background: url('//opt-957522.ssl.1c-bitrix-cdn.ru/bitrix/components/bitrix/catalog.section.list/templates/appforsale/images/ic_section_indicator.png') right 10px center no-repeat;
	border-bottom: 1px solid #f3f3f3;
}





/* catalog.section */
ul.props {
		display: block;
	 	white-space: nowrap; 
}

ul.props > li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 1px;
	padding: 2px;
	border: 1px solid #f3f3f3;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	
}

div.slider {
	
		display: block;
		height: 1500px; 

}

ul.slider {

	 	white-space: nowrap; 
display: block;
	
		 		height: 1500px; 
}

ul.slider > li {
	display: inline-block;
	width: 100%; 
	 	height: 1500px; 
}



div {
	display: block
}


img {
	border: 0;
	color: transparent
}


.post {
	display: block;
	height: 40px;
	padding: 8px 16px 8px 16px;
	background: url(http://shop.malahovsky.net/ic_section_indicator.png) no-repeat right 16px center;
}

.post_image {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
}

.post_img {

}

.post_name {
	white-space: nowrap;
	margin-left: 56px;
	line-height: 40px;
	font-size: 16px;
	padding-right: 50px;
	overflow: hidden;
text-overflow: ellipsis;
}

.post_cnt {

	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: rgba(0, 0, 0, .54);
	float: right;
	margin-right: 24px;
}




#box_layer_bg, #box_layer_wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    display: none;
    position: fixed
}

#box_layer_bg {
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

#box_layer_wrap {
	    z-index: 1001;
    overflow: auto
}

#box_layout {
		    width: 100%;
    height: 100%;
}

.box_layout {
	position: relative;
	    width: 100%;
    height: 100%;
}

.box_body {
	padding-top: 54px;
	background-color: #fff;
}

.popup_box_container {
    margin: 0 auto;
    	    width: 100%;
    height: 100%;
    	background-color: #fff;
}

.box_x_button {
    float: right;
    padding: 21px 25px 21px 12px;
	background: url(/bitrix/images/mlab.appforsale/close.png) no-repeat 12px 21px;
    width: 12px;
    height: 12px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    cursor: pointer;
    outline: none
}

.box_title_wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    height: 54px;
    color: #fff;
}

.box_title {
	padding-left: 25px;
	font-size: 14px;
	color: #fff;
	height: 54px;
	line-height: 54px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#afs-page-wrap {
	width: 100%;
    height: 100%
}
