/* mlab:appforsale.interface.address */
.map {
	display: none;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	background-color: white	
}

.afs-address-item {
	margin-bottom: 3px;
	position: relative;
}

.afs-address-list {
	z-index: 2000;
	display: none;
	position: absolute;
	top: 34px;
	left: 0px;
	right: 0px;
	background-color: #fff;
	padding: 4px;
	border: 1px solid #f3f3f3
}

.afs-address-list > li {
	padding: 4px;
}

.afs-address-list h3 {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-address-list p {
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)
}

.afs-addon {
	color: #fff !important;
	min-width: 38px !important;
}

.afs-progress {
	 width: 32px;
     height: 32px;
}