.afs-promo-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.afs-promo-image {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.afs-promo-img {
	
}

.afs-promo-info {
	padding-top: 15px;
	padding-bottom: 15px;
}

.afs-promo-name {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 15px
}

.afs-promo-desc {
	text-align: justify
}