body {
	background-color: #F0F1F2;
}

@font-face {
	font-family: SF-UI-Dispay-Bold;
    src: url(/bitrix/fonts/sf-ui-display-bold.otf);
}

@font-face {
	font-family: SF-UI-Dispay-Medium;
    src: url(/bitrix/fonts/sf-ui-display-medium.otf);
}

.executor-list-wrap {
	padding: 0 15px;
}

.executor-list-item {
	margin: 20px 0 10px 0;
	display: block;
	background-color: #fff;
	border-radius: 5px;
	min-height: 60px;
}

.executor-list-item:hover {
	text-decoration: none;
}

.executor-list-item__ptoho {
	float: left;
	margin: -10px 0 0 -10px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	border: 10px solid #fff; 
}

.executor-list-item__name {
	margin-left: 70px;
	padding-top: 15px;
	font: 15px/18px SF-UI-Dispay-Bold;
	color: #000;
}



.afs-empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}