/* mlab:appforsale.task.customer.list */
.afs-task-customer-rows {
	
}

.afs-empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.afs-item-more {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 16px;
	height: 56px;
    width: 56px;
}