.afs-personal-line > .afs-login {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	line-height: 56px;
	color: #fff;
	text-decoration: none
}

.afs-personal-line .afs-personal {
	display: block;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	line-height: 56px;
	color: #fff;
	text-decoration: none
}

.afs-personal-line .afs-personal img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 8px
}

.afs-personal-line .afs-personal span {
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 8px;
	padding-right: 8px
}