/* mlab:appforsale.notification.list */
.afs-notification-item {
    display: block;
    padding: 17px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87)
}

.afs-notification-item:hover, .afs-notification-item:focus {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87)
}

.afs-notification-date {
    font-size: 13px;
    line-height: 15px;
    color: #797979
}

.afs-notification-name {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, .87)
}

.afs-empty {
    padding: 16px;
    color: rgba(0, 0, 0, .38);
    font-size: 14px;
    line-height: 20px;
    text-align: center
}

.afs-disabled .afs-notification-name{
    color: #AFAFAF;
}
.afs-disabled .afs-notification-date{
    color: #E8E8E8;
}