/* mlab:task.customer.detail */
.afs-task-customer-detail-rows {
	padding-top: 15px;
	padding-bottom: 15px;
}

.afs-task-customer-detail-row {
	padding-top: 4px;
	padding-bottom: 4px
}

.afs-task-header {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}