#map {
	background-color: white;
	position: fixed !important;
		height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			bottom: 0;
}

/* .container, .row {
	height: 100%;
} */

.bx_img {
	width: 40px;
	height: 40px;
	border-radius: 20px
}