/* mlab:appforsale.task.item */
.afs-task-item-wrap:hover, .afs-task-item-wrap:focus {
	text-decoration: none
}

.afs-task-item-row {
	padding: 8px 15px 8px 15px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 56px;
	background-color: #ffffff
}

.afs-task-item-price {
	margin-left: 8px;
	padding: 8px;
		float: right;
			font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.afs-task-item-info {
	margin-top: 8px;
}

.afs-task-item-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-task-item-section, .afs-task-item-prop  {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}