/* mlab:appforsale.interface.file */
.bx_file_add {
	display: inline-block;
	position: relative;
	vertical-align: top;

	margin: 4px;
	padding: 2px;
	width: 60px;
	height: 60px;
	vertical-align: top;
	box-sizing: content-box;
}

.bx_file_add_img {
	margin: 12px;
	width: 40px;
	height: 40px;
}

.bx_file_delete_img {
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 4px;
	width: 18px;
	height: 18px;
	box-sizing: content-box;
}

input.bx_file_add_input:disabled {
	opacity: 0;
}

.bx_file_add_input {
	display: none !important;
}

.bx_file_progress {
	background: #00000080;
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px;
	width: 32px;
	height: 32px;
	box-sizing: content-box;
}

.bx_file {
	position: relative;
		background: #ccc;
	border: 1px solid #f3f3f3;
	display: inline-block;
	margin: 4px;
	padding: 2px;
	width: 60px;
	height: 60px;
	vertical-align: top;
	box-sizing: content-box;
}

canvas, .canvas {
	display: inline-block;
 	width: 60px;
	height: 60px; 
}

