/* bitrix:menu appforsale */
body.left .afs-aside-nav-control {
	display: none !important;
}

body.left .afs-aside-nav {
	display: block !important;
	-webkit-transform: translateX(0)!important;
	-moz-transform: translateX(0)!important;
	-ms-transform: translateX(0)!important;
	-o-transform: translateX(0)!important;
	transform: translateX(0)!important;
	overflow-y: scroll !important;
}


.afs-aside-nav-control, .afs-aside-nav, .afs-top-nav {
	display: none;	
}

.afs-aside-nav-control {
	position: fixed;
	width: 52px;
	height: 52px;
	top: 2px;
	left: 2px;
	font-size: 24px;
	line-height: 52px;
	cursor: pointer;
	z-index: 1750;
	color: #fff;
	text-align: center
}

.afs-aside-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #f3f3f3;
	z-index: 1600;
	
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	
	-webkit-transition: -webkit-transform .15s linear;
	-moz-transition: -moz-transform .15s linear;
	-ms-transition: -ms-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	transition: transform .15s linear;
}

.afs-aside-nav.afs-opened {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	overflow-y: scroll
}

.afs-aside-nav > ul {
	list-style: none
}

.afs-aside-nav > ul > li {
	float: none
}

.afs-menu-item {
	position: relative;
}

.afs-aside-nav > ul > li > a {	
	display: block;
	padding: 14px;
	/*min-height: 32px;*/
	text-decoration: none
}

.afs-aside-nav > ul > li > a > span {
	display: block;
	
	color: rgba(0, 0, 0, .87);
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	margin-left: 56px;
	margin-top: 2px
}

.afs-menu-badge {
	position: absolute;
	right: 14px;
	top: 20px;
	background-color: #FF8B00;
}

.afs-top-nav {
	height: 56px;
	line-height: 56px
}

.afs-top-nav > ul {
	list-style: none
}

.afs-top-nav > ul > li {
	float: left
}

.afs-top-nav > ul > li > a {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	color: #fff;
	text-decoration: none
}

.afs-top-nav > ul > li > a:hover {
	color: #8bc34a
}

.afs-top-nav > ul > li > a > span {
	display: block
}

.afs-menu-divider {
	height: 0;
	margin: 0 14px;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}


@media (min-width: 992px) {
	.afs-aside-nav-control, .afs-aside-nav {
		display: none;
	}
	.afs-top-nav {
		display: block;
	}
}

@media (max-width: 991px) {
	.afs-aside-nav-control, .afs-aside-nav {
		display: block;
	}
	.afs-top-nav {
		display: none;
	}
}


.afs-top-nav #afs-aside-header {
	display: none;
}

.afs-aside-header {
	background: #3F51B5;
	height: 160px;
	position: relative
}

.afs-aside-user {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 16px
}

.afs-aside-user-photo {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-bottom: 16px
}

.afs-aside-user-name {
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	line-height: 20px
}

.afs-aside-user > a {
	display: block;
}

.afs-aside-login {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 16px
}

.afs-aside-login > a {
	display: block;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	line-height: 20px
}

.afs-top-nav-image {
	display: none;
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 4px
}

.afs-top-nav-img {
	width: 24px;
	height: 24px
}


@media (max-width: 991px) {
	.afs-top-nav-image {
		display: block;
	}
}

/* .afs-top-nav  */

.afs-aside-footer {
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.afs-aside-nav .afs-selected {
	background: #f3f3f3;
}

.afs-aside-nav .afs-selected > a span {
	color: #FF8B00;
}
.afs-top-nav-img svg  path {
	fill: #FF8B00 !important;
}

.afs-top-nav .afs-selected span {
	color: #8bc34a
}