.afs-h5 {
	color: #3F51B5;
	padding-top: 16px;
	padding-bottom: 8px;
/* 	background: #f3f3f3; */
	font-size: 16px;
	line-height: 24px;
}

.afs-fixed-bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #fff;
}

.afs-buttons-group {
	padding: 15px 15px 27px 15px;
}