.afs-subscription-item {
	padding: 8px 15px;
	border-bottom: 1px solid #f3f3f3;
	text-decoration: none
}

.afs-subscription-name {
	padding-top: 4px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-subscription-desc {
	padding-bottom: 4px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.afs-subscription-item a, .afs-subscription-item a:hover {
	text-decoration: none;
}

.afs-subscription-wrap {
	margin-top: 8px;
	margin-bottom: 8px;
/* 	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3; */
}

.afs-subscription-info {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)
}

.afs-subscription-button {
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center
}

.afs-empty {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding-top: 25px;	
}

#follow {
    margin: 0px;
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
}