/* mlab:appforsale.comment.list */
.afs-comment {
	padding: 16px;
	border-bottom: 1px solid #f3f3f3
}

.afs-empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.afs-rating {
	margin-top: 8px;
	text-align: right;
}

.afs-rating > img {
	width: 12px; 
	height: 12px; 
}