body {
	background-color: #F0F1F2;
}

@font-face {
	font-family: SF-UI-Dispay-Bold;
    src: url(/bitrix/fonts/sf-ui-display-bold.otf);
}

.iblock-section-list-item-wrap {
	padding: 0 15px;
}

.iblock-section-list-item {
	display: block;
	background: #fff url(images/indicator.png) no-repeat right 20px center;
	border-radius: 5px;
	height: 60px;
	margin: 10px 0;
}

.iblock-section-list-item:hover {
	text-decoration: none;
}

.iblock-section-list-item__picture {
	float: left;
	width: 30px;
	height: 30px;
	margin: 15px 20px;
}

.iblock-section-list-item__info {
	position: relative;
    margin-left: 70px;
	margin-right: 50px;
	padding: 12px 0;
	height: 60px;
}

.iblock-section-list-item__name {
	font: 15px/18px SF-UI-Dispay-Bold;
	color: #000;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}