.afs-colorpicker-items {
	
}

.afs-colorpicker-item {
	vertical-align: top;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #dedede;
	margin: 2px 2px 0px 0px;
	padding: 3px;
}

.afs-colorpicker-item-active {
	border: 2px solid #666666;
	padding: 2px;
}

.afs-colorpicker-item-color {
	position: relative;
	display: inline-block;
	height: 46px;
	width: 46px;
	border-radius: 50%;
	padding: 2px;
}

.afs-colorpicker-name {
	position: relative;
	display: block;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-weight: bold

}