body {
	background-color: #f3f3f3
}

.afs-setting-account-info {
	padding: 16px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

.afs-setting-account-current-wrap {
	padding: 8px 16px;
	background-color: #fff;
	font-size: 18px;
	line-height: 28px;
	border-bottom: 1px solid #f3f3f3;
}

.afs-setting-account-current-budget {
	float: right;
	color: rgba(0, 0, 0, .54)
}

.afs-setting-account-list-header {
	padding: 32px 16px 8px 16px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54);
	text-transform: uppercase
}

.afs-setting-account-list-wrap {
	box-sizing: border-box;
	display: block;
	padding: 8px 16px 8px 16px;
	background-color: #fff;
	position: relative;
}

.afs-setting-account-list-name {
	margin-top: 6px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-setting-account-list-value {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54);
}

.afs-setting-account-list-pay {
	position: absolute;
	top: 15px;
	right: 16px;
}

.afs-setting-account-list-amount {
	position: absolute;
	top: 15px;
	right: 16px;
	text-align: right;
}

button.afs-setting-account-list-pay-button {
min-width: auto;
min-height: auto;
font-size: 12px;
	display: block;
	padding: 8px 12px;
	border-radius: 5px;
	background: #ffffff;
	border: 1px solid #FF4081;
	color: #FF4081
}

.afs-setting-account-transact-wrap {
	box-sizing: border-box;
	display: block;
	padding: 8px 16px;
	background-color: #fff;
	text-align: center;	
	font-size: 14px;
	line-height: 28px;
	color: rgba(0, 0, 0, .54)
}
