/* mlab:appforsale.notification.list */
.afs-notification-item {
	display: block;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-notification-item:hover, .afs-notification-item:focus {
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-notification-date {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

.afs-notification-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}