/* mlab:appforsale.task.new.sections */
.afs-section-wrap:hover, .afs-section-wrap:focus {
	text-decoration: none
}

.afs-section-wrap {
	display: block;
	padding: 32px 16px;
}

.afs-section-img {
	width: 80px; 
	height: 80px;
	border-radius: 50%;
	background-color: #f3f3f3
}

.afs-section-info {
	margin-top: 8px;
}

.afs-section-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-section-field {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}