:root {
	--accent: #00b913;
}

[v-cloak] {
	display: none;
}

.afs-app-intro .boardal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.afs-app-intro .boardal__mask {
	background: rgba(0, 0, 0, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.afs-app-intro .boardal__wrapper {
	position: relative;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	height: 100%;
	background: #fff;
	color: #333;
	display: flex;
	flex-direction: var(--cross, column);
	/*border-radius: .2em;*/
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1em 2em -1em;
}
.afs-app-intro .boardal__x {
	cursor: pointer;
	font-size: 2em;
	line-height: .5;
	opacity: .15;
}
.afs-app-intro .boardal__x:hover {
	opacity: .65;
}
.afs-app-intro .boardal-enter-active, .boardal-leave-active {
	transition: opacity 0.25s;
}
.afs-app-intro .boardal-enter, .boardal-leave-to {
	opacity: 0;
}

.afs-app-intro article {
	flex: 1 1 100%;
	height: 100%;
	display: flex;
	flex-direction: var(--axis, row);
	overflow: hidden;
}

.afs-app-intro section {
	width: 100%;
	visibility: hidden;
	flex: 0 0 100%;
	padding: 2em;
	overflow: auto;
	will-change: transform;
	transform: translate(var(--x, 0%), var(--y, 0%));
	transition: transform 300ms ease-out;
	position: relative;
}
.afs-app-intro section h2, .afs-app-intro section h3, .afs-app-intro section h4 {
	margin-top: 0;
	color: #ff8b00;
}
.afs-app-intro section.current {
	visibility: visible;
}

.afs-app-intro footer {
	position: relative;
	text-align: right;
	display: flex;
	flex-direction: var(--axis-reverse, row-reverse);
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.05);
}
.afs-app-intro footer:not(:empty) {
	padding: 0.5em;
}

.afs-app-intro .step-dots {
	display: flex;
	flex-direction: var(--axis, row);
}

.afs-app-intro .step-dot {
	cursor: pointer;
	width: 0.5em;
	height: 0.5em;
	margin: .5ch;
	border-radius: 1em;
	background: #ff8b00;
	opacity: .2;
	transition: transform 100ms ease-out, opacity 150ms linear;
}
.afs-app-intro .step-dot.active {
	opacity: .7;
	box-shadow: 0 0 1em -.25em;
}
.afs-app-intro .step-dot:hover {
	transform: scale(1.2);
}

.afs-app-intro .forward-actions,
.afs-app-intro .back-actions {
	flex: 1;
	display: flex;
	flex-direction: var(--axis, row);
}

.afs-app-intro .forward-actions {
	justify-content: center;
}

.afs-app-intro .back-actions {
	justify-content: center;
}

.afs-app-intro *, .afs-app-intro  *::before, .afs-app-intro  *::after {
	box-sizing: border-box;
}

.afs-app-intro  a {
	color: var(--accent);
}

.afs-app-intro del {
	color: #ca1e34;
	font-style: italic;
}

.afs-app-intro p {
	line-height: 1.5;
}

.afs-app-intro body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	background: snow;
	color: #333;
}

.afs-app-intro .actions button {
	outline: none;
	font: inherit;
	line-height: 1;
	cursor: pointer;
	padding: 0.3em;
	margin-top: 0;
	border-radius: .35em;
	color: rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.1);
	border: 2px solid rgba(0, 0, 0, 0.05);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	transition: transform 50ms ease-out;
	will-change: transform;
}
.afs-app-intro .actions button:active {
	transform: scale(0.95);
}
.afs-app-intro .actions button:focus {
	border-color: var(--accent);
	box-shadow: 0 0 1em 0 var(--accent);
}
.afs-app-intro .actions button[disabled] {
	opacity: .2;
	cursor: not-allowed;
}
.afs-app-intro .actions button.primary {
	border-color: transparent;
	background: transparent;
	font-weight: bold;
}
.afs-app-intro .actions button.primary:not([disabled]) {
	color: var(--accent);
}
.afs-app-intro .actions button.accent {
	background: var(--accent);
}
.afs-app-intro .actions button.accent:not([disabled]) {
	color: #fff;
}
.afs-app-intro .actions button.secondary {
	border-color: transparent;
	background: transparent;
}
.afs-app-intro .actions button.secondary:not([disabled]) {
	color: rgba(0, 0, 0, 0.4);
}
.afs-app-intro .actions button.cancel:not([disabled]) {
	color: var(--accent);
}
.afs-app-intro ul li {
	margin-bottom: 8px;
}

.afs-app-intro .box_image_items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -26px;
	margin-right: -26px;
}
.afs-app-intro .box_image_item {
	padding-left: 15px;
	padding-right: 15px;
	width: 25%;
	margin-bottom: 30px;
}
.afs-app-intro .box_image_item img {
	width: 100%;
}
@media screen and (max-width: 619px) {
	.afs-app-intro .box_image_item {
		width: 50%;
	}
	.afs-app-intro .box_image_item img {
		width: 100%;
	}
}