.afs-bottom-sheet__panel ul > li a:root {
	--accent: #00b913;
}
/*.dbz-dialog .dg-content-cont--floating{*/
/*	top: 40%;*/
/*}*/

[v-cloak] {
	display: none;
}

.question-btn {
	width: 60px;
	height: 40px;
	border-radius: 25px;
	background: #F44336;
	border: none;
	outline: none;
	color: #FFF;
	font-size: 26px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: .3s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-align: left;
	padding-left: 13px;
	z-index: 9;
	position: fixed;
	right: -25px;
	bottom: 380px;
}