/* mlab:appforsale.user.item */
.afs-user-wrap:hover, .afs-user-wrap:focus {
	text-decoration: none
}

.afs-user-row {
	min-height: 56px
}

.afs-user-image {
	float: left;
	width: 40px;
	height: 40px
}

	
.afs-user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%
}



.afs-user-info {
	margin-left: 56px;
	margin-top: 8px
}

.afs-user-name {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.online {
	position: relative
}

.online:after {
	bottom: 2%;
	right: 2%;
	border: 2px solid #fff;
	height: 11px;
	width: 11px;
	content: '';
	position: absolute;
	background-color: #8bc34a;
	border-radius: 50%
}