/* mlab:appforsale.task.new.sections */
.afs-section-rows {
	
}

.afs-section-wrap:hover, .afs-section-wrap:focus {
	text-decoration: none
}

.afs-section-row {
	position: relative;
	padding: 8px 32px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 56px;
}

.afs-section-row-picture {

}

.afs-section-row-desk {
	/* min-height: 72px; */
}

.afs-section-image {
	float: left;
	width: 40px; 
	height: 40px;
	display: none;
}

.afs-section-row-picture .afs-section-image {
	display: block;
}

.afs-section-img {
	width: 40px; 
	height: 40px;
	border-radius: 50%;
	background-color: #f3f3f3
}

.afs-section-info {
	margin-top: 8px;
	margin-left: 0px;
}

.afs-section-row-desk .afs-section-info {
		margin-top: 0px;
}

.afs-section-row-picture .afs-section-info {
	margin-left: 56px;
}

.afs-section-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-section-field {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

.afs-section-indicator {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -7px;
	width: 8px; 
	height: 13px
}