.afs-color {
	background-color: #00B94A
}

.afs-color-light {
	background-color: #ff79a6
}

.afs-color-dark {
	background-color: #b22c5a
}

.afs-font-color {
	color: #D3D3D3
}

.afs-font-color-light {
	color: #ff79a6
}

.afs-font-color-dark {
	color: #b22c5a
}

.afs-border-color {
	border-color: #00B94A
}

.afs-border-color-light {
	border-color: #ff79a6
}

.afs-border-color-dark {
	border-color: #b22c5a
}

.btn-primary {
    color: #000;
    background-color: #00B94A;
    border-color: #bfbfbf;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #000;
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active {
    background-color: #bfbfbf;
    border-color: #bfbfbf
}

