.afs-color {
	background-color: @base_color
}

.afs-color-light {
	background-color: #ff79a6
}

.afs-color-dark {
	background-color: #b22c5a
}

.afs-font-color {
	color: @base_color
}

.afs-font-color-light {
	color: #ff79a6
}

.afs-font-color-dark {
	color: #b22c5a
}

.afs-border-color {
	border-color: @base_color
}

.afs-border-color-light {
	border-color: #ff79a6
}

.afs-border-color-dark {
	border-color: #b22c5a
}

.btn-primary {
    color: @btn_color;
    background-color: @base_color;
    border-color: @base_color_dark;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: @btn_color;
    background-color: @base_color_dark;
    border-color: @base_color_dark;
}

.btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active {
    background-color: @base_color_dark;
    border-color: @base_color_dark
}

