/*
	Light theme default type color
	
	Primary		rgba(0, 0, 0, .87)
	Secondary	rgba(0, 0, 0, .54)
	Disabled	rgba(0, 0, 0, .38)
	
	
	Dark theme default type color
	
	Primary		rgba(255, 255, 255, 1)
	Secondary	rgba(255, 255, 255, .7)
	Disabled	rgba(255, 255, 255, .5)	
	
	
	colorPrimary		#3F51B5
	colorPrimaryDark	#303F9F
	colorAccent			#FF4081
*/
[v-cloak] {
    display: none;
}

.primary-bg {
    background: #00B94A;
    color: #fff;
}

.flex-row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-row:before, .flex-row:after {
    display: none;
}


@media (max-width: 991px) {
    #panel {
        display: none !important
    }

    #bx-panel {
        display: none !important
    }

    #menu2 {
        position: fixed !important;
        top: 0 !important;
    }
}

#menu2 {
    display: none;
    position: fixed;
    min-height: 56px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


.afs-logo img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%
}

.afs-logo > a {
    display: block;
    height: 56px;
    padding: 10px;
    border-bottom: 0
}


@media (max-width: 991px) {
    .afs-logo > a {
        text-align: center
    }
}


.wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

.header {
    height: 400px;
    background-image: url(/bitrix/templates/youdo_appforsale/images/fon.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.afs-video-title {
    font-size: 23px;
    padding-bottom: 8px;
}

.afs-video-text {
    padding-bottom: 16px;
}

/*.card {*/
/*    margin: 60px;*/
/*    background: #fff;*/
/*    padding: 60px;*/
/*}*/

/*@media (max-width: 767px) {*/

/*    .card {*/
/*        margin: 30px;*/
/*        padding: 30px;*/
/*    }*/

/*}*/

.page-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    padding: 8px;
}

.copyright {
    background-color: #333;
    color: #999;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.required {
    color: #ff0000
}

.afs-input {
    box-sizing: border-box;
    padding: 8px;

    border: 1px solid #dedede;
    border-radius: 5px;
    background: #ffffff;

    font-size: 16px;
}


.afs-input:focus {
    outline: none;
    border: 1px solid #0277bd
}

.afs-label {
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54)
}


input[type=number], input[type=tel], input[type=text], input[type=date], textarea {
    box-sizing: border-box;
    padding: 8px;

    border: 1px solid #dedede;
    border-radius: 5px;
    background: #ffffff;

    font-size: 16px;

    -webkit-appearance: none;
}

input[type=number]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=date]:focus, textarea:focus {
    outline: none;
    border: 1px solid #FF4081
}

.label {
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54)
}


.section_rows {

}

.section_row {
    box-sizing: border-box;
    position: relative;
    padding: 8px 16px 8px 16px;
    height: 56px;
    border-bottom: 1px solid #f3f3f3;
}

.section_image {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
}

.section_name {
    margin-top: 8px;
    margin-left: 56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87)
}

.section_indicator {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 8px;
    height: 13px;
    margin-top: -7px;
}


.element_image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

.element_name {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87)
}


.prop_name {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, .54)
}


a {
    text-decoration: none;
}


.single,
.two,
.three {
    display: block;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
}

.single {
    height: 56px;
}

.two {
    height: 72px;
}

.three {
    height: 88px;
}

.primary,
.secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary {

    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87)
}

.secondary {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54)
}

/* .label {
	 	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .54)
} */

/* button {
	box-sizing: border-box;
	min-width: 88px; 
	min-height: 48px;
	padding: 4px 8px 4px 8px;
	margin: 6px 4px 6px 4px;
	font-size: 16px;
	border-radius: 5px;
	background: #ff004a;
	color: #ffffff;
	border: 0;
} */

.btn-afs {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
}

afs-btn-outline-danger {
    color: #ff0000;
    border-color: #ff0000;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.afs-btn-success {
    color: #fff !important;
    background: #00B94A;
    border-color: #00B94A;
}

.afs-btn-success:hover {
    color: #00B94A !important;
    background: #fff;
    border-color: #00B94A;
}

.afs-btn-danger {
    color: #fff !important;
    background: #ff0000;
    border-color: #ff0000;
}

.afs-btn-danger:hover {
    color: #ff0000 !important;
    background: #fff;
    border-color: #ff0000;
}

.afs-btn-warning {
    color: #fff !important;
    background: #FF8B00;
    border-color: #FF8B00;
}

.afs-btn-warning:hover {
    color: #FF8B00 !important;
    background: #fff;
    border-color: #FF8B00;
}

.afs-btn-outline-success {
    color: #00B94A !important;
    border-color: #00B94A;
}

.afs-btn-outline-success:hover {
    color: #fff !important;
    background-color: #00B94A;
    border-color: #00B94A;
}

.afs-text-success {
    color: #00b94a;
}

.afs-badge {
    display: inline-block;
    padding: 4px 7px;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 12px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.afs-badge-success {
    color: #fff;
    background-color: #00B94A;
}

.afs-badge-warning {
    color: #fff;
    background-color: #FF8B00;
}

.afs-badge-danger {
    color: #fff;
    background-color: #FF0000;
}

.afs-badge-info {
    color: #fff;
    background-color: #FF0000;
}


.afs-list-divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

input:disabled, button:disabled {
    opacity: .5
}


.cart {
    position: relative;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    height: 72px;
    border-bottom: 1px solid #f3f3f3;
}

.cart_info {

    padding-right: 50px;
}

.cart_name {
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87)
}

.cart_props {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54)
}


.cart_image {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
}

.cart_img {

}

.cart_right {

}

.cart_price {
    text-align: right;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, .54)

}

.itog {
    font-size: 16px;
    line-height: 24px;
    color: #3F51B5;
    text-align: right;

    font-weight: bold;

}

.old_price {
    text-decoration: line-through;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .38);
    text-align: right;

}


html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    /*    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);  */

    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1.3;
    font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
    color: rgba(0, 0, 0, .87);
    position: relative;
}

ul,
ul > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.listview {
    width: 100%;
}

ul.listview > li {
    border-bottom: 1px solid #f3f3f3;
}


/* catalog.section.list */
ul.section {
    width: 100%;
    display: table;
}

ul.section > li {
    display: table-row;
    background: url('//opt-957522.ssl.1c-bitrix-cdn.ru/bitrix/components/bitrix/catalog.section.list/templates/appforsale/images/ic_section_indicator.png') right 10px center no-repeat;
    border-bottom: 1px solid #f3f3f3;
}


/* catalog.section */
ul.props {
    display: block;
    white-space: nowrap;
}

ul.props > li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px;
    padding: 2px;
    border: 1px solid #f3f3f3;
    font-size: 12px;
    text-align: center;
    line-height: 30px;

}

div.slider {

    display: block;
    height: 1500px;

}

ul.slider {

    white-space: nowrap;
    display: block;

    height: 1500px;
}

ul.slider > li {
    display: inline-block;
    width: 100%;
    height: 1500px;
}


div {
    display: block
}


img {
    border: 0;
    color: transparent
}


.post {
    display: block;
    height: 40px;
    padding: 8px 16px 8px 16px;
    background: url(http://shop.malahovsky.net/ic_section_indicator.png) no-repeat right 16px center;
}

.post_image {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
}

.post_img {

}

.post_name {
    white-space: nowrap;
    margin-left: 56px;
    line-height: 40px;
    font-size: 16px;
    padding-right: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_cnt {

    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    float: right;
    margin-right: 24px;
}


#box_layer_bg, #box_layer_wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    display: none;
    position: fixed
}

#box_layer_bg {
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

#box_layer_wrap {
    z-index: 1001;
    overflow: auto
}

#box_layout {
    width: 100%;
    height: 100%;
}

.box_layout {
    position: relative;
    width: 100%;
    height: 100%;
}

.box_body {
    padding-top: 54px;
    background-color: #fff;
}

.popup_box_container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.box_x_button {
    float: right;
    padding: 21px 25px 21px 12px;
    background: url(/bitrix/images/mlab.appforsale/close.png) no-repeat 12px 21px;
    width: 12px;
    height: 12px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    cursor: pointer;
    outline: none
}

.box_title_wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    height: 54px;
    color: #fff;
}

.box_title {
    padding-left: 25px;
    font-size: 14px;
    color: #fff;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#afs-page-wrap {
    width: 100%;
    height: 100%;
}

/* Bottom sheet and FAB */
.afs-fab {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 26px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    z-index: 9;
}

.afs-fab:focus {
    transform: scale(1.1);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.afs-fab__green {
    background: #00b913;
}

.afs-fab__red {
    background: #ff0000;
}

.afs-fab.afs-fab__fixed {
    position: fixed;
}

.afs-fab.afs-fab__bottom {
    bottom: 15px;
}

.afs-fab.afs-fab__right {
    right: 15px;
}

.afs-bottom-sheet__panel {
    z-index: 9999;
    background: #F8F8F8;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.afs-bottom-sheet__header {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: bold;
    padding: 15px;
}


.afs-btn__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6267 9.82635C12.1244 10.3244 12.1244 11.129 11.6267 11.627C11.3784 11.8753 11.0524 12 10.7263 12C10.4003 12 10.0744 11.8753 9.82611 11.627L6 7.80052L2.17389 11.627C1.92559 11.8753 1.59965 12 1.27372 12C0.947553 12 0.621618 11.8753 0.373321 11.627C-0.12444 11.129 -0.12444 10.3244 0.373321 9.82635L4.19967 6.00015L0.373321 2.17394C-0.12444 1.67593 -0.12444 0.871336 0.373321 0.37333C0.871315 -0.124443 1.67589 -0.124443 2.17389 0.37333L6 4.19977L9.82611 0.37333C10.3241 -0.124443 11.1287 -0.124443 11.6267 0.37333C12.1244 0.871336 12.1244 1.67593 11.6267 2.17394L7.80033 6.00015L11.6267 9.82635Z' fill='%23797979'/%3E%3C/svg%3E%0A");
}

.afs-btn__close:hover {
    opacity: 1;
}

/*.afs-btn__close:before, .afs-btn__close:after {*/
/*    position: absolute;*/
/*    left: 15px;*/
/*    content: ' ';*/
/*    height: 25px;*/
/*    width: 2px;*/
/*    background-color: #333;*/
/*}*/

/*.afs-btn__close:before {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.afs-btn__close:after {*/
/*    transform: rotate(-45deg);*/
/*}*/


.afs-bottom-sheet__panel ul > li {
    height: 55px;
    border-bottom: 2px solid #f8f8f8;
}

.afs-bottom-sheet__panel ul > li i {
    width: 40px;
}

.afs-bottom-sheet__panel ul > li a {
    display: flex;
    align-items: center;
    line-height: 20px;
    height: 55px;
    padding: 0 15px;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.afs-bottom-sheet__panel ul > li a:active, .afs-bottom-sheet__panel ul > li a:hover {
    background: #ccc;
}

.slide-enter-active, .slide-leave-active {
    transition: margin-bottom .3s ease-out;
}

.slide-enter, .slide-leave-to {
    margin-bottom: -400px;
}

.slide-enter-to, .slide-leave {
    margin-bottom: 0px;
}

.dg-btn--ok {
    background: #00b913;
    border-color: #00b913;
    color: #fff
}

.dg-btn--cancel {
    background: #6e6e6e;
}

