/* mlab:appforsale.form */
.afs-form {
	padding: 16px;
	padding-bottom: 70px;

}

select[multiple], select[size] {
	height: 80px;
}

.afs-required {
	color: #ff0000
}

input.bx-calendar-form-input {
	font-size: 11px !important;
	padding: 1px !important;
}

textarea {
	width: 100%
}