/* mlab:appforsale.task.new.sections */
.afs-section:hover, .afs-section:focus {
	text-decoration: none
}

.afs-section-big {
	padding: 16px 16px 32px 16px;
}

.afs-section-small {
		padding: 8px;
}

.afs-section-big .afs-section-info {
		color: rgba(0, 0, 0, .87);
	font-size: 18px;
	line-height: 24px;
	height: 60px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 8px;
}

.afs-section-big .afs-section-image {
	text-align: center;
	width: 100%; 
	height: 80px;
}

.afs-section-big .afs-section-img {
	width: 80px; 
	height: 80px;
}

.afs-section-small .afs-section-image {
	float: left;
	width: 40px; 
	height: 40px;
}

.afs-section-small .afs-section-img {
	width: 40px; 
	height: 40px;
}

.afs-section-small .afs-section-info {
	color: rgba(0, 0, 0, .87);
	margin-top: 8px;
	margin-left: 56px;
}