/*Menu icon*/
.appforsale_marketing_icon {
	background:url(icons/mlab.appforsale/push.png) no-repeat center;
}

.appforsale_users_icon {
	background:url(icons/mlab.appforsale/users.png) no-repeat center;
}

.appforsale_setting_icon {
	background:url(icons/mlab.appforsale/setting.png) no-repeat center;
}

.adm-appforsale .adm-main-menu-item-icon {
	background:url(icons/mlab.appforsale/appforsale.png) no-repeat center;
}

.adm-appforsale:hover .adm-main-menu-item-icon {
	background:url(icons/mlab.appforsale/appforsale_active.png) no-repeat center;
}

.adm-main-menu-item-active.adm-appforsale .adm-main-menu-item-icon {
	background:url(icons/mlab.appforsale/appforsale_active.png) no-repeat center;
}

.https_check_success {
	font-weight: bold;
	color: green;
}

.https_check_fail {
	font-weight: bold;
	color: red;
}