/* appforsale:guide.section */
.bx_guide_empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.bx_guide {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
}

.bx_guide_name {
	margin: 8px 16px 8px 0px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.bx_guide_section_indicator {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -7px;
	width: 8px; 
	height: 13px
}