/* appforsale:personal.tasks.section.list */
.bx_profile_section {
	position: relative;
	padding: 8px 32px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px
}

.bx_profile_section_picture {
	float: left;
	width: 40px; 
	height: 40px;
	border-radius: 20px
}

.bx_profile_section_name {
	margin-top: 8px;
	margin-left: 56px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_profile_section_indicator {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -7px;
	width: 8px; 
	height: 13px
}

.bx_profile_section_empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}