/* appforsale:profile */
.control {
	padding-top: 8px
}

input[type=text] {
	width: 100%
}

select {
	box-sizing: border-box;
	padding: 8px;
	
	border: 1px solid #dedede;
	border-radius: 5px;
	background: #ffffff;
	width: 100%; 
	font-size: 16px;
	
	-webkit-appearance: none;
}