/* appforsale:guide.element */
.bx_guide_preview_text {
	box-sizing: border-box;
	text-align: justify;
	padding: 16px 16px 8px 16px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_guide_detail_text {
	box-sizing: border-box;
	text-align: justify;
	padding: 0px 16px 16px 16px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}