#afs-subscribe input.vue-treeselect__input {
    border: none;
    width: 100% !important;
}

#afs-subscribe .vue-treeselect__control {
    height: 48px;
}

#afs-subscribe .vue-treeselect__placeholder, #afs-subscribe .vue-treeselect__single-value {
    line-height: 48px;
}

#afs-subscribe .vue-treeselect__multi-value-item {
    font-size: 14px;
}

#afs-subscribe .custom-file-input, #afs-subscribe .custom-file-label::after {
    content: 'Открыть';
}