.afs-download {
		padding-top: 30px;
	padding-bottom: 30px;
}

.afs-download-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 38px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.afs-download-text {
	font-size: 21px;
	line-height: 25px;
}

.afs-download-badge {
	padding-top: 30px;
	padding-bottom: 30px;
}