/* appforsale:tasks.section */
.bx_profile {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 56px;
}

.bx_profile_name {

	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_desc {
		 	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
		margin-right: 16px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}



.bx_left_button, .bx_right_button {
	box-sizing: border-box;
	padding: 8px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 40%
}

.bx_left_button {
		border-radius: 10px 0px 0px 10px;
		background: #ff004a;
		color: #ffffff;
}

.bx_right_button {
		border-radius: 0px 10px 10px 0px;
		background: #f3f3f3;
		color: rgba(0, 0, 0, .54);
}

.bx_toggle {
	padding: 16px;
	text-align: center;
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%; 
}

.bx_profile_section_indicator {
	position: absolute;
	right: 16px;
	top: 30px;
	width: 8px; 
	height: 13px
}

.bx_profile_more {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 16px;
	width: 56px;
	height: 56px
}


.bx_task_empty {
	padding: 16px;
	color: rgba(0, 0, 0, .38);
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.bx_task_add {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	background: #ff004a;
	color: #ffffff;
}

.popup_wrap {
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
}

.popup_wrap2 {
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 16px;
		width: 100%; 
}

.popup {

	background: #ffffff;
	z-index: 3;
	box-sizing: border-box;
	width: 100%; 
}

.bx_popup_item {
	text-align: center;
	padding: 16px;
	font-size: 16px;
	border-bottom: 1px solid #f3f3f3;
}

.red {
	color: #ff0000
}