/* mlab:appforsale.executor.detail */
.afs-executor-count {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54);
	padding: 8px 0;
}

.afs-executor {
	padding: 8px 15px;
	min-height: 112px
}

.afs-executor-image {
	float: left;
	width: 80px;
	height: 80px
}

.afs-executor-img {
	width: 80px;
	height: 80px;
	border-radius: 50%
}

.afs-executor-info {
	margin-left: 96px;
}

.afs-executor-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-executor-desc {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

.afs-executor-mobile {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}