/* mlab:task.detail */
.afs-task-customer-detail-rows {
	padding-bottom: 15px;
}

.afs-task-customer-detail-row {
	padding-top: 4px;
	padding-bottom: 4px
}

.afs-task-header {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}

.afs-task-detail {
	padding-bottom: 270px;
}


.afs-task-detail .top-line .row {
	padding: 15px 0;
}

.afs-task-detail .top-line .text {
	font-size: 13px;
	line-height: 15px;
	text-align: right;
	color: #797979;
}

.afs-task-detail .task-info {
	padding: 15px 0;
	font-size: 13px;
	line-height: 15px;
	color: #797979;

}