@font-face {
	font-family: SF-UI-Dispay-Bold;
    src: url(/bitrix/fonts/sf-ui-display-bold.otf);
}

@font-face {
	font-family: SF-UI-Dispay-Medium;
    src: url(/bitrix/fonts/sf-ui-display-medium.otf);
}

.element_wrap {
	padding: 0 15px;
}

.element
{
	margin: 10px 0;
	display: block;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 0;
	
/* 	display: inline-block;
	background-color: #4266e3;
	border-radius: 15px;
	padding: 0 15px;
	box-shadow: 0 0 10px rgb(140, 167, 255);
	margin: 5px; */
}

.element:hover {
	text-decoration: none;
}

.element__name {
	overflow: hidden;
	padding: 0 15px;
	font: 15px/18px SF-UI-Dispay-Bold;
	color: #000;
}

.element__section {
		overflow: hidden;
	margin-top: 15px;
	background: #F0F1F2;
	text-align: center;
	font: 13px/30px SF-UI-Dispay-Medium;
	color: #94989C;
	padding: 0 10px;

	border-radius: 5px;
	
	white-space: nowrap;
}












/* mlab:appforsale.task.item */
.afs-task-item-wrap:hover, .afs-task-item-wrap:focus {
	text-decoration: none
}

.afs-task-item-row {

	min-height: 56px;
	background-color: #ffffff
}

.afs-task-item-price {
	margin-left: 8px;
	padding: 8px;
		float: right;
			font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .87)
}

.afs-task-item-info {
	margin-top: 8px;
	padding: 0 15px;
}

.afs-task-item-name {
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.afs-task-item-section, .afs-task-item-prop  {
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .54)
}