/* mlab:appforsale.invite */
.afs-invite-code {
	font-size: 36px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.afs-invite-lead {
	font-size: 26px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.afs-invite-control {
	text-align: center;
}