/* appforsale:personal.profile.section.list */
.bx_profile_section {
	position: relative;
	padding: 8px 16px 8px 16px;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px;
	box-sizing: content-box;
}

.bx_profile_section_picture {
	float: left;
	width: 40px; 
	height: 40px;
	border-radius: 20px;
}

.bx_profile_section_name {
	margin-top: 8px;
	margin-left: 56px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, .87)
}

.bx_profile_section_switch {
	position: absolute;
	top: 17px;
	right: 16px;
	width: 38px;
	height: 23px;
}

.bx_profile_section_progress {
	display: none;
	position: absolute;
	top: 12px;
	right: 19px;
	width: 32px;
	height: 32px;
}

.bx_profile_section_indicator {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 16px;
	width: 8px;
	height: 13px;
}